@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

body {
  background-color: #2a2c2f;
}

.page {
  background-color: #2a2c2f;
  font-family: "Inter Black";
  margin: 0 auto;
}

.imagem__logo {
  width: 30px;
  height: 30px;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 34px;
  margin-bottom: 90px;
}

.nav__title {
  color: #FFFFFF;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 92px;

}

.header__title {
  font-family: "Inter Black";
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
  width: 793px;
  height: 200px;
  margin-top: 0;
  margin-bottom: 32px;
}

.header__subtitle {
  width: 720px;
  height: 72px;
  margin-left: 132px;
  margin-right: 132px;
  margin-bottom: 64px;
  font-family: "Inter Regular";
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}

.header__image {
  width: 984px;
  height: 615px;
}

.main {
  display: flex;
  flex-direction: column;
}

.intro {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 830px;
  height: 482px;
  margin-left: 148px;
  margin-bottom: 118px;
}

.intro__title {
  font-family: "Inter Black";
  font-size: 54px;
  line-weight: 58px;
  margin: 0;
  margin-bottom: 40px;
}

.intro__figure {
  font-family: "Inter Regular";
  font-size: 24px;
  line-weight: 34px;
  margin: 0;
  margin-bottom: 10px;
}

.intro__blockquote {
  margin: 0;
  margin-bottom: 10px;
}

.intro__figcaption {
  display: flex;
  justify-content: end;
  margin-bottom: 32px;
}

.intro__text {
  font-family: "Inter Regular";
  font-size: 16px;
  line-weight: 16.3%;
  margin: 0;
}

.galery {
  margin: 0 auto;
  margin-bottom: 92px;
}

.galery__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.galery__image {
  max-width: 284px;
  max-height: 213px;
  width: 100%;
  height: 100%;
}

.citys {
  margin-left: 145px;
  margin-right: 148px;
  width: 987px;
}

.city {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas:
  "city__name    card__artist"
  "city__image   citys__text"
  "citys__button citys__text"
  "span          citys__text"
  ;
}

.city__name {
  font-family: "Inter Black";
  font-size: 72px;
  line-height: 76px;
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.city__image {
  width: 460px;
  height: 460px;
  grid-area: city__image;
}

.city__name {
  color: #FFFFFF;
  font-family: "Inter Black";
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  grid-area: city__name;
}

.card__artist {
  display: flex;
  flex-direction: column;
  justify-content: end;
  grid-area: card__artist;
}

.city__artist {
  font-family: "Inter Regular";
  font-size: 12px;
  letter-spacing: 12%;
  color: #AAAAAA;
  margin: 0;
}

.city__artist-name {
  font-family: "Inter Regular";
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
}

.citys__text {
  grid-area: citys__text;

}

.city__text {
  font-family: "Inter Regular";
  font-size: 18px;
  color: #FFFFFF;
  margin: 0;
  width: 484px;
  margin-bottom: 25px;
  line-height: 163%;
}

.city__text:last-of-type {
  margin-bottom: 0;
}

.citys__button {
  display: flex;
  flex-direction: column;
  grid-area: citys__button;
}

.city__button {
  background-color: #0278FE;
  color: #FFFFFF;
  font-family: "Inter SemiBold";
  font-size: 18px;
  border-radius: 5px;
  height: 48px;
  width: 285px;
  border: none;
}

.about {
  background-image: url(../images/background.jpg);
  height: 740px;
  width: 1184px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;}

.about__title {
  font-family: "Inter Black";
  font-size: 72px;
  line-height: 76px;
  color: white;
}

.about__list {
  list-style: none;
  list-style-type: none;
  font-family: "Inter Regular";
  font-size: 18px;
  line-height: 22px;
  color: white;
  padding: 0;
}

.about__button {
  width: 191px;
  height: 48px;
  background-color: #0278FE;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  margin-top: 92px;
  color: white;
  font-family: "Inter Regular";
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 768px) {

  .header {
    width: 720px;
  }

  .header__image {
    width: 100%;
  }


  .intro {
    margin-left: 0;
    width: 720px;
  }

  .galery__image {
    width: 352px;
    height: 264px;
  }

  .main {
    padding: 0 24px;
  }

  .galery__images {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .citys {
    margin-left: 0;
    margin-right: 0;
    width: 768px;
  }

  .city {
    width: 733px;
    margin-bottom: 72px;
  }

  .city__name {
    width: 340px;
    max-height: 92px;
    font-size: 42px;
    line-height: 46px;
  }

  .city__image {
    width: 340px;
    height: 340px;
  }

  .city__artist {
    width: 352px;
  }

  .city__text {
    width: 352px;
  }

  .about {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover ;
  }
}

@media screen and (max-width: 320px) {
  .nav {
    margin-bottom: 48.94px;
  }

  .nav__logo {
    width: 23.77px;
  }

  .header {
    width: 320px;
  }

  .header__title {
    width: 288px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }

  .header__subtitle {
    width: 288px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 40px;
  }

  .header__image {
    width: 320px;
    height: 200px;

    margin: 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro {
    width: 288px;
    height: 878px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__blockquote {
    font-size: 24px;
    line-height: 30px;
  }

  .intro__figcaption {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__text {
    font-size: 16px;
    line-height: 163%;
  }

  .galery {
    width: 288px;
  }

  .galery__images {
    width: 288px;
    height: 1812px;
    grid-template-columns: 1fr;
  }

  .galery__image {
    width: 288px;
    height: 216px;
  }

  .citys {
    width: 320px;
  }

  .city {
    width: 320px;
    grid-template-areas:
    "city__name"
    "card__artist"
    "city__image"
    "citys__text"
    "citys__text"
    "citys__button"
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .city__name {
    font-size: 32px;
    line-height: 35px;
    height: 35px;
    width: 288px;
   }

   .city__artist {
    font-size: 12px;
    margin-bottom: 8px;
    width: 288px;
   }

   .city__artist-name {
    font-size: 18px;
    line-height: 22px;
    width: 288px;
   }

   .city__image {
    width: 320px;
    height: 320px;
    padding: 0;
  }

  .city__text {
    width: 288px;
    font-size: 16px;
    line-height: 26.08px;
  }

  .city__button {
    font-size: 14px;
    width: 288px;
    height: 48px;
  }

  .about {
    width: 320px;
    background-repeat: no-repeat;
    background-size: cover ;
    height: 254px;
  }

  .about__title {
    font-size: 32px;
    line-height: 35px;
  }

  .about__list {
    font-size: 14px;
    line-height: 16px;
  }

  .about__button {
    font-size: 18px;
    font-family: "Inter Semi Bold";
  }
}